<%- include("partials/header.ejs") -%> 

<h1>This my about page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda aut veritatis neque molestiae fugit id similique at quia labore, itaque magni ipsam dignissimos soluta dolore delectus porro rerum voluptatem velit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque incidunt maxime natus, et consectetur sunt consequuntur, beatae facilis, ratione corporis vero nesciunt mollitia voluptates officia sequi soluta dolor enim!</p>

<%- include("partials/footer.ejs") -%> 